* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140220_165%2Fhair_do_1392822211424Ew87z_JPEG%2F1392822210105_PicsArt_1392748754089.jpg&type=sc960_832");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.wrapper {
  position: relative;
  width: 450px;
  height: 450px;
  backdrop-filter: blur(15px);
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}

.wrapper h2 {
  font-size: 36px;
  color: white;
  margin: 40px;
}

.login input,
.password input {
  width: 70%;
  height: 50px;
  margin: 10px;
  padding-left: 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 30px;
  background: transparent;
  color: white;
  font-size: 15px;
  padding-right: 50px;
}

.login .usericon,
.password .lockicon {
  position: relative;
  color: white;
  right: 45px;
}

::placeholder {
  color: white;
}

.check span,
.check a {
  color: white;
  margin: 20px;
}

.check input {
  position: relative;
  left: 15px;
}

.loginbtn button {
  width: 70%;
  height: 50px;
  border: 1px solid white;
  background: white;
  border-radius: 30px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.register span,
.register a {
  color: white;
  margin: 5px;
}
